<div class="form-inline" data-ng-form="searchForm">
    <div class="form-group">
        Country Name:
        <input name="countryName" type="text" data-ng-model="view.countryName" data-ng-required="true">

    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" data-ng-click="submit()" data-ng-disabled="searchForm.$invalid">Submit</button>
    </div>
    <div class ="form-group">
        <button type="reset" class="btn btn-primary" data-ng-click="reset()">Reset</button>
    </div>
    <br/>
    <br/>
    <div data-ng-include="'view/countries.html'" />

</div>
